{% extends 'base.html' %}

{% block content %}
    <h1>Detalles de las tareas</h1>

    <h1>Titulo : {{tarea.titulo}}</h1>
    <h2>Autor : {{tarea.usuario}}</h2>
    <h3>Descripcion : {{tarea.descripcion}}</h3>

    {{error}}
    <form method="POST">
        {% csrf_token %}
        

        {{form.as_p}}

        <button>actualizar</button>
        
   </form>

   <form action="{% url 'completadaTarea' tarea.id %}" method="POST">
        {% csrf_token %}
    <button>completado</button>
   </form>
   
   <form action="{% url 'eliminadaTarea' tarea.id %}" method="POST">
    {% csrf_token %}
    <button>Eliminado</button>
    </form>
    

{% endblock%}